span {
  color: rgb(91, 91, 91);
}

.post-link-container {
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  border: 1px solid white;
}

.post-link-container:hover {
  background-color: lightgrey;
  border: 1px solid grey;
}

.view-all-link:visited {
  color: #0000ff;
}

.latest-posts-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.latest-posts-heading h2 {
  padding: 0;
}