.container {
  margin: auto;
  max-width: 700px;
  font-family: sans-serif;
}

.heading {
  color: rgb(32, 32, 32);
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: rgb(32, 32, 32);
}

.nav-link-text:visited {
  color: inherit;
}

h2 {
  padding-top: 1rem;
}

h4 {
  color: rgb(91, 91, 91);
}

p, li {
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: rgb(91, 91, 91);
}

article {
  padding: 1rem 0;
}